<!-- Theme Switcher Component -->
<div class="color-switcher">
    <div class="color-option" data-color="#9D00FF" style="background-color: #9D00FF;"></div>
    <div class="color-option" data-color="#00FFFF" style="background-color: #00FFFF;"></div>
    <div class="color-option" data-color="#FF3333" style="background-color: #FF3333;" title="Red"></div>
    <div class="color-option" data-color="#32CD32" style="background-color: #32CD32;"></div>
    <div class="color-option bitcoin-option" data-color="#F7931A" style="background-color: #F7931A;">₿</div>
</div>